.footer {
    font-size: 16px;
    padding: 7em 0;
    color: #fff;
}

.footer .footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.footer .footer-column h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer .footer-column ul li {
    font-size: 14px;
    margin-bottom: 24px;
}

.footer .footer-column ul li a {
    color: #fff;
}

.footer .footer-column .btn-primary {
    border: 2px solid #fff !important;
}

.footer .footer-column .btn-primary:hover {
    border: 2px solid #fff !important;
}

.footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.footer-social li a i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(6, 19, 38);
}

.footer-social li a:hover i:before {
    color: #adacac;
}

.footer-column .duvidas ul {
    list-style: none;
}

.footer-column .duvidas i:before {
    color: #fff;
    font-size: 18px;
}