.botoes-cadastro{
    text-align: center;
  }
  
  .botao{
    text-align: center;
    text-indent: 0%;
    width: 19%;
  }
  
  .botoes-limpar{
    text-align: center;
    width: 18%;
  }

<<<<<<< HEAD
=======
 




>>>>>>> 4011c32b0c070451ab4722356b1c17ac44d872f1
